:root {
  --background: #2f3e46;
  --section: #354f52;
  --font: #cad2c5;
  --imageframe: #283a3d;
  --textframe: #52796f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--font);
  line-height: 2em;
}

a {
  color: var(--font);
  text-decoration: none;
}

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #0d0d0d;
}
